html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: consolas;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
.map-container {
  height: 100%;
  display: flex;
}

#map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  float: left;
}

.info-panel {
  position: relative;
  display: none;
  max-width: 600px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  float: right;
  word-break: break-word;
}

.info-panel-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: inherit;
  background-color: #009879;
  color: white;
  text-align: center;
}

/* Responsive Mobile Sidebar and Map*/
@media only screen and (max-width: 768px) {
  .map-container {
    flex-direction: column;
  }
  .info-panel {
    max-width: 100% !important;
    max-height: 40vh;
  }
}

/* Info Box Style */
.info-content {
  text-align: center;
}

.info-footer {
  padding: 10px;
  margin-top: 12px;
  color: grey;
  border-top: 1px solid #009879;
}

/* Table Style */
.info-table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  display: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.info-table-header .close {
  float: right;
  cursor: pointer;
  line-height: 0.8em !important;
}

.info-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.info-table th,
.info-table td {
  padding: 12px 15px;
}

.info-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.info-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.info-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* add margin for mobile view */
#external-table {
  margin-bottom: 19px;
}

/* External Link  */
.external-link {
  color: blue;
  cursor: pointer;
}

/* Splash screen */
.splash {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 101%;
  transform: translate(-50%, -50%);
  background-color: #054e40;
  transition: all ease-in-out 600ms;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

.splash-content {
  height: 90%;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.splash-content img {
  width: 100px;
}

.splash-content .subtitle {
  font-size: 0.9rem !important;
  margin-bottom: 30px;
}

/* Loading content for slow devices */
.info-loader {
  background-color: #054e40;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
